@font-face {
  font-family: norseBold;
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

body {
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#plant {
  height: 100vh;
  width: 50vh;
}

#photo_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
}

#logo_content {
  background-color: rgba(0, 0, 0, 50%);
  width: 50vh;
  text-align: center;
  margin-top: 20vh;
  padding: 20px 0;
}

#logo {
  width: 100px;
}

#logotext {
  font-family: norseBold;
  display: inline;
  position: relative;
  bottom: 25px;
  color: white;
  font-size: 100px;
}

#photocredit {
  text-align: center;
  padding-top: 64vh;
  font-size: 14px;
}

#signup {
  margin: 50px;
  max-width: 975px;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  display: flex;
}

.form_slot {
  margin: 10px 0px;
  padding-right: 45px;
  flex-shrink: 0;
}

label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

input {
  font-size: 16px;
  border-style: solid;
  border-color: #E5E7EB;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}

input:focus {
  outline: 1px solid rgb(61, 61, 255);
  border-radius: 5px;
}

input:invalid {
  outline: 1px solid red;
  border-radius: 5px;
}

button {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #596D48;
  padding: 15px 50px;
  border: none;
  border-radius: 10px;
}

h3 a {
  color: #596D48;
  text-decoration: none;
}

p {
  color: white;
}

p a {
  text-decoration: underline;
}